* {
    BG:    #191724ff;
    BGA:   #c017c638;
    FG:    #e0def4ff;
    FGA:   #ffffffff;
    BDR:   #bc9abcff;
    SEL:   #c017c638;
    UGT:   #eb6f92ff;
    IMG:   #e0def4ff;
    OFF:   #575268ff;
    ON:    #abe9b3ff;
}
