[submodule "mattgmak/zen-wireframe-2.0"]
	path = dendritic/home-modules/zen-browser/zen-wireframe-2
	url = https://github.com/mattgmak/zen-wireframe-2.0
[submodule "mattgmak/pi-cursor-provider"]
	path = dendritic/home-modules/pi-coding-agent/extensions/vendor/cursor-provider
	url = https://github.com/mattgmak/pi-cursor-provider.git
[submodule "carderne/pi-nvim"]
	path = dendritic/home-modules/pi-coding-agent/extensions/vendor/pi-nvim
	url = https://github.com/carderne/pi-nvim.git
[submodule "nicobailon/pi-web-access"]
	path = dendritic/home-modules/pi-coding-agent/extensions/vendor/pi-web-access
	url = https://github.com/nicobailon/pi-web-access.git
[submodule "nicobailon/pi-mcp-adapter"]
	path = dendritic/home-modules/pi-coding-agent/extensions/vendor/pi-mcp-adapter
	url = https://github.com/nicobailon/pi-mcp-adapter.git
[submodule "utensils/mcp-nixos"]
	path = dendritic/home-modules/pi-coding-agent/extensions/vendor/mcp-nixos
	url = https://github.com/utensils/mcp-nixos.git
[submodule "mksglu/context-mode"]
	path = dendritic/home-modules/pi-coding-agent/extensions/vendor/context-mode
	url = https://github.com/mksglu/context-mode.git
[submodule "juicesharp/rpiv-mono"]
	path = dendritic/home-modules/pi-coding-agent/extensions/vendor/rpiv-mono
	url = https://github.com/juicesharp/rpiv-mono.git
[submodule "MattDevy/pi-extensions"]
	path = dendritic/home-modules/pi-coding-agent/extensions/vendor/pi-extensions
	url = https://github.com/MattDevy/pi-extensions.git
[submodule "mattgmak/pi-lens"]
	path = dendritic/home-modules/pi-coding-agent/extensions/vendor/pi-lens
	url = https://github.com/mattgmak/pi-lens.git
[submodule "gotgenes/pi-packages"]
	path = dendritic/home-modules/pi-coding-agent/extensions/vendor/pi-packages
	url = https://github.com/gotgenes/pi-packages.git
[submodule "fgladisch/pi-extensions"]
	path = dendritic/home-modules/pi-coding-agent/extensions/vendor/fgladisch-pi-extensions
	url = https://github.com/fgladisch/pi-extensions.git
[submodule "mattpocock/skills"]
	path = dendritic/skills/vendor/mattpocock-skills
	url = https://github.com/mattpocock/skills.git
[submodule "omaclaren/pi-markdown-preview"]
	path = dendritic/home-modules/pi-coding-agent/extensions/vendor/pi-markdown-preview
	url = https://github.com/omaclaren/pi-markdown-preview.git
[submodule "dracula/pi-coding-agent"]
	path = dendritic/home-modules/pi-coding-agent/themes/vendor/dracula
	url = https://github.com/dracula/pi-coding-agent.git
[submodule "leblancfg/pi-ansi-themes"]
	path = dendritic/home-modules/pi-coding-agent/themes/vendor/pi-ansi-themes
	url = https://github.com/leblancfg/pi-ansi-themes.git
[submodule "otahontas/pi-coding-agent-catppuccin"]
	path = dendritic/home-modules/pi-coding-agent/themes/vendor/pi-coding-agent-catppuccin
	url = https://github.com/otahontas/pi-coding-agent-catppuccin.git
[submodule "elpapi42/pi-observational-memory"]
	path = dendritic/home-modules/pi-coding-agent/extensions/vendor/pi-observational-memory
	url = https://github.com/elpapi42/pi-observational-memory.git
[submodule "mattgmak/lean-ctx"]
	path = dendritic/home-modules/pi-coding-agent/extensions/vendor/lean-ctx
	url = https://github.com/mattgmak/lean-ctx.git
