@-moz-document url("about:privatebrowsing") {
  @media (prefers-color-scheme: light) {
    :root {
      --na-color-text: rgba(54, 20, 192, 1);
      --na-color-bg: rgba(192, 180, 211, 0.6);
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --na-color-text: rgba(192, 180, 211, 1);
      --na-color-bg: rgba(54, 20, 192, 0.6);
    }
  }
}

@-moz-document url("about:newtab"), url("about:home"), url("about:blank") {
  /* @media (prefers-color-scheme: light) {
    :root {
      --na-color-text: rgba(30, 31, 0, 1);
      --na-color-bg: rgba(239, 233, 217, 0.6);
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --na-color-text: rgba(209, 207, 192, 1);
      --na-color-bg: rgba(30, 30, 31, 0.6);
    }
  } */

  @media (-moz-pref("wireframe.blank.theme", 0)) {
    :root {
      --na-color-text: rgba(209, 207, 192, 1);
      --na-color-bg: rgba(30, 30, 31, 0.6);
    }
  }

  @media (-moz-pref("wireframe.blank.theme", 1)) {
    :root {
      --na-color-text: rgba(30, 31, 0, 1);
      --na-color-bg: rgba(239, 233, 217, 0.6);
    }
  }

  @media (-moz-pref("wireframe.blank.theme", 2)) {
    :root {
      --na-color-text: rgba(209, 207, 192, 1);
      --na-color-bg: rgba(30, 30, 31, 0);
    }
  }
}

@-moz-document url("about:newtab"), url("about:blank"), url("about:privatebrowsing") {
  html,
  body {
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  #root,
  .container {
    display: none;
  }

  body::before {
    font-weight: 500;
    position: absolute;
    margin: auto;
    font-size: 250%;
    color: var(--na-color-text);
    background-color: var(--na-color-bg);
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    content: "░░▒▒▓▓";
    /* '░░▒▒▓▓' */
    visibility: visible;
    background-image: "";
    /* url(loading.gif) */
    background-size: 5em;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (-moz-pref("wireframe.blank.content")) {
  @-moz-document url("about:newtab"), url("about:home"), url("about:blank"), url("about:privatebrowsing") {
    body::before {
      content: "";
    }
  }
}
