/* Credits to Ferrocene */

@media (-moz-pref("wireframe.font", "SF-Pro")) {
    :root {
        --wireframe-font: "SF-Pro";
    }
}

@media (-moz-pref("wireframe.font", "SUSE")) {
    :root {
        --wireframe-font: "SUSE";
    }
}

@media (-moz-pref("wireframe.font", "SUSEMono")) {
    :root {
        --wireframe-font: "SUSEMono";
    }
}

@media (-moz-pref("wireframe.font", "Bricolage")) {
    :root {
        --wireframe-font: "Bricolage";
    }
}

@media (-moz-pref("wireframe.font", "GeistMono")) {
    :root {
        --wireframe-font: "GeistMono";
    }
}

@media (-moz-pref("wireframe.font", "JetBrainsMono")) {
    :root {
        --wireframe-font: "JetBrainsMono";
    }
}

@font-face {
    font-family: "SF-Pro";
    src: url("https://github.com/SehajveerSingh2005/zen-wireframe-2.0/raw/refs/heads/main/fonts/SF-Pro.ttf");
    font-weight: var(--wireframe-font_weight) !important;
}

@font-face {
    font-family: "SUSE";
    src: url("https://github.com/SehajveerSingh2005/zen-wireframe-2.0/raw/refs/heads/main/fonts/SUSE-Regular.ttf");
    font-weight: var(--wireframe-font_weight) !important;
    font-style: normal;
}

@font-face {
    font-family: "SUSEMono";
    src: url("https://github.com/SehajveerSingh2005/zen-wireframe-2.0/raw/refs/heads/main/fonts/SUSEMono-Regular.ttf");
    font-weight: var(--wireframe-font_weight) !important;
    font-style: normal;
}

@font-face {
    font-family: "Bricolage";
    src: url("https://github.com/SehajveerSingh2005/zen-wireframe-2.0/raw/refs/heads/main/fonts/BricolageGrotesque-Regular.ttf");
    font-weight: var(--wireframe-font_weight) !important;
    font-style: normal;
}

@font-face {
    font-family: "GeistMono";
    src: url("https://github.com/SehajveerSingh2005/zen-wireframe-2.0/raw/refs/heads/main/fonts/GeistMono-Regular.ttf");
    font-weight: var(--wireframe-font_weight) !important;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("https://github.com/SehajveerSingh2005/zen-wireframe-2.0/raw/refs/heads/main/fonts/JetBrainsMono-Regular.ttf");
    font-weight: var(--wireframe-font_weight) !important;
    font-style: normal;
}

* {
    font-weight: var(--wireframe-font_weight) !important;
    font-family: var(--wireframe-font);
}
