/* === SIDEBAR === */

/* === SIDEBAR - SINGLE TOOLBAR === */

#titlebar:before{
  border-radius: var(--na-user-border-radius) !important;
}

#titlebar{
  border-radius: var(--na-user-border-radius) !important;
}

#zen-toolbar-background {
  border-radius: var(--na-user-border-radius) !important;
}

#zen-toolbar-background{
  &::before, &::after{
    border-radius: var(--na-user-border-radius) !important;
  }
}

/* expanded docked sidebar LEFT side mode */
:root:not([zen-right-side])[zen-sidebar-expanded="true"][zen-compact-mode="true"] #titlebar {
  margin-left: 16px !important;
  margin-bottom: 32px !important;
  margin-top: 6px !important;
}

@media not (-moz-bool-pref: "zen.view.experimental-force-window-controls-left"){
  :root:not([zen-right-side])[zen-sidebar-expanded="true"][zen-compact-mode="true"] #titlebar {
    margin-left: 16px !important;
    margin-bottom: 6px !important;
    margin-top: 32px !important;
  }
}

  /* expanded docked sidebar RIGHT side mode */
  :root[zen-right-side][zen-sidebar-expanded="true"][zen-compact-mode="true"] #titlebar {
    margin-right: 16px !important;
    margin-bottom: 32px !important;
    margin-top: 6px !important;
  }

@media not (-moz-bool-pref: "zen.view.experimental-force-window-controls-left"){
  :root[zen-right-side][zen-sidebar-expanded="true"][zen-compact-mode="true"] #titlebar {
    margin-right: 16px !important;
    margin-bottom: 32px !important;
    margin-top: 6px !important;
  }
}

@media not (-moz-bool-pref: "wireframe.urlbar.position.top"){
  /* expanded docked sidebar LEFT side mode */
  :root:not([zen-right-side])[zen-sidebar-expanded="true"][zen-compact-mode="true"] #titlebar {
    margin-left: 16px !important;
    margin-bottom: 32px !important;
    margin-top: 6px !important;
  }

  /* expanded docked sidebar RIGHT side mode */
  :root[zen-right-side][zen-sidebar-expanded="true"][zen-compact-mode="true"] #titlebar {
    margin-right: 16px !important;
    margin-bottom: 32px !important;
    margin-top: 6px !important;
  }
}

@media (-moz-bool-pref: "zen.view.use-single-toolbar") {
  @media not (-moz-bool-pref: "wireframe.urlbar.position.top"){
    #zen-appcontent-navbar-wrapper::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      height: 40px; /* ← increases hover hitbox */
    }
  }

    :root[zen-compact-mode="true"]:not([inDOMFullscreen="true"]) #zen-appcontent-navbar-wrapper {
      /*padding-block: 10px !important; */
      margin-block: -5px !important;
      transition: margin-block var(--na-anim-duration) ease !important;
    }

  @media (-moz-bool-pref: "wireframe.urlbar.position.top"){
    #zen-appcontent-navbar-wrapper::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -10px;
      height: 40px; /* ← increases hover hitbox */
    }
  }

      :root:has(#customization-content-container:hover),
      :root:has(toolbarpaletteitem:active),
      :root:has(#zen-appcontent-navbar-container:hover),
      :root:has(.titlebar-buttonbox-container:hover),
      :root:has(.titlebar-button:hover),
      :root:has(#zen-appcontent-navbar-wrapper:hover) #zen-appcontent-navbar-wrapper {
        margin-block: 0px !important;
      }

      :root[zen-sidebar-expanded="true"] {

      /* keep it visible if any of these areas are hovered / active */
/*       :root:has(#customization-content-container:hover),
      :root:has(toolbarpaletteitem:active),
      :root:has(#zen-appcontent-navbar-container:hover),
      :root:has(.titlebar-buttonbox-container:hover),
      :root:has(.titlebar-button:hover),
      :root:has(#zen-appcontent-navbar-wrapper:hover)
      #zen-appcontent-navbar-wrapper {
        opacity: 1 !important;
        transition-delay: 0s !important;
      } */

/*       :root:has(#customization-content-container:hover),
      :root:has(toolbarpaletteitem:active),
      :root:has(#zen-appcontent-navbar-container:hover),
      :root:has(.titlebar-buttonbox-container:hover),
      :root:has(.titlebar-button:hover),
      :root:has(#zen-appcontent-navbar-wrapper:hover) #zen-tabbox-wrapper {
        margin-bottom: 0px !important;
      } */

      /* optional: slightly longer hide delay if your mouse motions are fast */
      :root[zen-sidebar-expanded="true"] #zen-appcontent-navbar-wrapper[hidden="false"] {
        transition-delay: 0.18s;
      }
    }

    /* auto hide top sidebar toolbar ALONG WITH menu button */
  @media (-moz-pref("wireframe.toolbar.hide")){
    #zen-sidebar-top-buttons>#zen-sidebar-top-buttons-customization-target>* {
      opacity: 0 !important;
      transition: opacity var(--na-anim-duration) normal !important;
    }

    :has(#zen-sidebar-top-buttons:hover) #zen-sidebar-top-buttons-customization-target>* {
      opacity: 1 !important;
    }
  }

  @media not (-moz-bool-pref: "wireframe.urlbar.position.top"){
    #nav-bar {
      order: 1 !important;
      margin-bottom: 10px !important;
    }
  }

    /* move sidebar navbar to bottom */

    [zen-compact-mode="true"] {
      /* sidebar margin on single-toolbar mode */
      #nav-bar {
        margin-bottom: 4px !important;
      }

      #navigator-toolbox {
        margin-bottom: 16px !important;
      }

      /* move the navbar out from sidebar so url can have the same bahavior as other toolbar mode */
      #urlbar-container:has(#urlbar[open]) {
        position: fixed !important;
        top:  auto !important;
        height: 40px !important;
        min-height: 40px !important;
        min-width: 100vw !important;
        max-width: 100vw !important;
        bottom: 0px !important;
        left: 0px !important;
        z-index: 10000 !important;
      }
    }
  }

  /* urlbar behavior on expanded single-toolbar mode*/
    :root:not([zen-right-side="true"])[zen-sidebar-expanded="true"][zen-compact-mode="true"] {
      #urlbar-container:has(#urlbar[open]) {
        left: 0 !important;
        right: auto !important;
        margin-inline: 0px !important;
      }

      #navigator-toolbox:has(#urlbar[zen-floating-urlbar="true"])[zen-user-show] #urlbar-container:hover {
        margin-left: 0px !important;
      }

      #navigator-toolbox:has(#urlbar[zen-floating-urlbar="true"]):not([zen-user-show]) #urlbar {
        margin-left: 0px !important;
      }

      #navigator-toolbox:has(#urlbar[zen-floating-urlbar="true"]):not([zen-user-show])[zen-has-hover] #urlbar:not(:hover) {
        margin-left: 0px !important;
      }

      #navigator-toolbox:has(#urlbar[open]:not([zen-floating-urlbar="true"])) #urlbar {
        margin-left: 0px !important;
      }
    }

    :root[zen-right-side="true"][zen-sidebar-expanded="true"][zen-compact-mode="true"] {
      #urlbar-container:has(#urlbar[open]) {
        left: auto !important;
        right: 0 !important;
        margin-inline: 0px !important;
      }

      #navigator-toolbox:has(#urlbar[zen-floating-urlbar="true"])[zen-user-show] #urlbar-container:hover {
        margin-right: 0px !important;
      }

      #navigator-toolbox:has(#urlbar[zen-floating-urlbar="true"]):not([zen-user-show]) #urlbar {
        margin-right: 0px !important;
      }

      #navigator-toolbox:has(#urlbar[zen-floating-urlbar="true"]):not([zen-user-show])[zen-has-hover] #urlbar:not(:hover) {
        margin-right: 0px !important;
      }

      #navigator-toolbox:has(#urlbar[open]:not([zen-floating-urlbar="true"])) #urlbar {
        margin-right: 0px !important;
      }
    }
}

/* expanded urlbar */
#urlbar {
  top: auto !important;
}

#urlbar[open] {
  min-width: var(--na-urlbar-width) !important;
  max-width: var(--na-urlbar-width) !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  right: auto !important;
  display: flex !important;
  flex-direction: column !important;
  top: auto !important;
  bottom: 62.5px !important;
}

/* move urlbar input to bottom*/
#urlbar>.urlbar-input-container {
  order: 1 !important;
}

/* navbar padding */
.urlbar-input-container {
  padding-inline: 2px !important;
}

/* === SIDEBAR - MULTIPLE TOOLBAR === */

  #tabbrowser-tabs,
  #TabsToolbar,
  #titlebar,
  #TabsToolbar-customization-target {
    flex-direction: column;
    height: 100%;
    margin-bottom: 2px !important; /* to match bottombar */
  }

/* docked sidebar */
:root:not([zen-compact-mode="true"]) #navigator-toolbox {
  /* background: var(--na-color-bg) !important; */
  padding: 0px !important;
  margin: 0px !important;
}

/* reduced height of floating sidebar for multiple/collapse toolbar */
@media not (-moz-bool-pref: "zen.view.use-single-toolbar"){
  :root[zen-compact-mode="true"] #navigator-toolbox {
    height: calc(100% - 48px) !important;
    align-self: center !important;
    margin-top: 20px !important;
  }
}

@media not (-moz-bool-pref: "zen.view.use-single-toolbar"){
  @media not (-moz-bool-pref: "wireframe.urlbar.position.top"){
    :root[zen-compact-mode="true"] #navigator-toolbox {
      height: calc(100% - 48px) !important;
      align-self: center !important;
      margin-top: 0px !important;
    }
  }
}

@media (-moz-bool-pref: "zen.view.use-single-toolbar"){
  :root[zen-compact-mode="true"] #navigator-toolbox {
    margin-top: 10px !important;
  }
}

:root:not([zen-sidebar-expanded="true"]):not([zen-compact-mode="true"]) #navigator-toolbox {
 min-width: 50px !important;
}


:root[zen-compact-mode="true"]:not([zen-sidebar-expanded="true"]) #navigator-toolbox {
  min-width: 90px !important;
}

/* expanded docked sidebar LEFT side mode */
:root:not([zen-right-side])[zen-sidebar-expanded="true"]:not([zen-compact-mode="true"]) #navigator-toolbox {
 /* background: var(--na-color-bg) !important; */
  padding-right: 4px !important;
  padding-left: 8px !important;
  padding-top: 5px !important;
}

/* expanded docked sidebar RIGHT side mode */
:root[zen-right-side][zen-sidebar-expanded="true"]:not([zen-compact-mode="true"]) #navigator-toolbox {
  /* background: var(--na-color-bg) !important; */
  padding-right: 8px !important;
  padding-left: 4px !important;
  padding-top: 5px !important;
}

/* ==== COMPACT MODE ==== */

:root:not([zen-sidebar-expanded="true"]) #zen-sidebar-top-buttons {
  margin-bottom: 6px !important;
}

@media not (-moz-bool-pref: "zen.view.use-single-toolbar") {
  /* expanded docked sidebar LEFT side mode */
  :root:not([zen-right-side])[zen-sidebar-expanded="true"][zen-compact-mode="true"] #titlebar {
    margin-left: 16px !important;
    margin-bottom: 6px !important;
    margin-top: 32px !important;
  }

  /* expanded docked sidebar RIGHT side mode */
  :root[zen-right-side][zen-sidebar-expanded="true"][zen-compact-mode="true"] #titlebar {
    margin-right: 16px !important;
    margin-bottom: 6px !important;
    margin-top: 32px !important;
  }
}

@media not (-moz-bool-pref: "wireframe.urlbar.position.top"){
  /* expanded docked sidebar LEFT side mode */
  :root:not([zen-right-side])[zen-sidebar-expanded="true"][zen-compact-mode="true"] #titlebar {
    margin-left: 16px !important;
    margin-bottom: 32px !important;
    margin-top: 6px !important;
  }

  /* expanded docked sidebar RIGHT side mode */
  :root[zen-right-side][zen-sidebar-expanded="true"][zen-compact-mode="true"] #titlebar {
    margin-right: 16px !important;
    margin-bottom: 32px !important;
    margin-top: 6px !important;
  }
}

/* expanded floating sidebar */
:root[zen-sidebar-expanded="true"][zen-compact-mode="true"] #titlebar {
  padding: 10px !important;
  border-radius: var(--na-user-border-radius) !important;
}

/* === COLLAPSED COMPACT === */

:root[zen-compact-mode="true"] #titlebar {
  padding: 10px !important;
  border-radius: var(--na-user-border-radius) !important;
}

@media not (-moz-bool-pref: "zen.view.use-single-toolbar") {
  :root:not([zen-right-side])[zen-compact-mode="true"] #titlebar{
    margin-left: 16px !important;
    margin-bottom: 6px !important;
    margin-top: 32px !important;
  }

  :root[zen-right-side][zen-compact-mode="true"] #titlebar{
    margin-right: 16px !important;
    margin-bottom: 6px !important;
    margin-top: 32px !important;
  }
}

@media not (-moz-bool-pref: "wireframe.urlbar.position.top"){
  :root:not([zen-right-side])[zen-compact-mode="true"] #titlebar{
    margin-left: 16px !important;
    margin-bottom: 32px !important;
    margin-top: 6px !important;
  }

  :root[zen-right-side][zen-compact-mode="true"] #titlebar{
    margin-right: 16px !important;
    margin-bottom: 32px !important;
    margin-top: 6px !important;
  }
}

/* === sidebar content === */

#titlebar {
  /* background: var(--na-color-bg) !important; */
/*   padding-inline: 0px !important; */
  padding-bottom: 3px !important;
  border-radius: var(--na-user-border-radius) !important;
}

@media not (-moz-bool-pref: "wireframe.urlbar.position.top"){
  #titlebar{
    padding-top: 10px !important;
  }
}

:root[zen-compact-mode="true"] #titlebar {
  border: 1px solid var(--na-color-border) !important;
  border-color: var(--na-color-border) !important;
}

#zen-browser-tabs-wrapper stack {
  margin-block: 1px !important;
}

/* tabs hover animation */
.tabbrowser-tab:hover .tab-label-container,
.tabbrowser-tab:hover .tab-icon-stack {
  animation: slideUpAdressBar var(--na-anim-duration) ease;
}

/* focused tab */
.tabbrowser-tab[selected]:not([zen-essential]) label {
  color: var(--na-color-bg) !important;
  border-radius: var(--na-tab-border-radius) !important;
}

/* invert selected tab icon color */
.tabbrowser-tab[selected] .tab-reset-button,
.tabbrowser-tab[selected] .tab-close-button,
.tabbrowser-tab[selected]:not([zen-essential]) img {
  filter: invert(100%) sepia(100%) brightness(120%) contrast(100%);
}

/* hover border radius change for close button and reset button*/
@media not (forced-colors) {
  .close-icon:hover {
    background-color: color-mix(in srgb, currentColor 10%, transparent);
    border-radius: var(--na-tab-border-radius) !important;
  }
}
.close-icon {
  &:hover {
    outline-color: var(--toolbarbutton-hover-outline-color);
  }
}

@media not (forced-colors) {
  .reset-icon:hover {
    background-color: color-mix(in srgb, currentColor 10%, transparent);
    border-radius: var(--na-tab-border-radius) !important;
  }
}
.reset-icon {
  &:hover {
    outline-color: var(--toolbarbutton-hover-outline-color);
  }
}

#navigator-toolbox[zen-sidebar-expanded="true"] {
  & #TabsToolbar-customization-target {
    & > :is(toolbaritem, toolbarbutton):not(#search-container):not(#zen-workspaces-button), & #tabbrowser-arrowscrollbox-periphery > toolbarbutton {
      width: 100% !important;
      border-radius: var(--na-tab-border-radius) !important;
      padding-left: var(--toolbarbutton-inner-padding) !important;
      padding-right: var(--toolbarbutton-inner-padding) !important;
    }
  }
}

.tab-background { border-radius: var(--na-user-border-radius) !important; }

.zen-essentials-container > .tabbrowser-tab, #zen-welcome-initial-essentials-browser-sidebar-essentials .tabbrowser-tab {
  @media -moz-pref("zen.theme.essentials-favicon-bg") {
    &[visuallyselected] > .tab-stack > .tab-background {
      &::after {
        content: '';
        inset: -50%;
        filter: blur(20px);
        position: absolute;
        background-size: contain;
        background-clip: padding-box;
        background-image: var(--zen-essential-tab-icon);
        z-index: -1;
        background-position: center;
      }
    }
  }
}

/* selected tab background */
.tabbrowser-tab[selected]:not([zen-essential])>stack>vbox {
  background: var(--na-color-text) !important;
}

.tabbrowser-tab .tab-background:not([zen-essential])::before{
  background: rgba(0,0,0,0.2) !important;
  margin: 0 !important;
  border-radius: var(--na-tab-border-radius) !important;
}

/* unfocused tabs */
.tabbrowser-tab:not([zen-essential]) {
  color: var(--na-color-text) !important;
  border-radius: var(--na-tab-border-radius) !important;
}

/* Border radius of tabs */
.tabbrowser-tab .tab-background:not([zen-essential]){
  border-radius: var(--na-tab-border-radius) !important;
}

/* Border radius for folder */
zen-folder {
  & > .tab-group-label-container {
    &::before {
      border-radius: var(--na-tab-border-radius) !important;;
    }
  }
}

/* Border radius of essentials */
.tabbrowser-tab:has([zen-essential]) .tab-background{
  border-radius: var(--na-essen-border-radius) !important;
}

/* workspace hover */
:root[zen-sidebar-expanded="true"] #zen-current-workspace-indicator:hover::before {
  background: var(--na-color-text) !important;
  border-radius: var(--na-border-radius) !important;
}

:root[zen-sidebar-expanded="true"] #zen-current-workspace-indicator:hover>#zen-current-workspace-indicator-name {
  color: var(--na-color-bg) !important;
}

/* sidebar bottom icon padding and direction */
#zen-sidebar-icons-wrapper {
  padding-block: 4px !important;
  padding-inline: 5px !important;
}

:root[zen-right-side] #zen-sidebar-icons-wrapper {
  justify-content: flex-end !important;
}

:root:not([zen-right-side]) #zen-sidebar-icons-wrapper {
  justify-content: flex-start !important;
}

#zen-sidebar-splitter {
  /* background: var(--na-color-bg) !important; */
  opacity: 1 !important;
}

/* @media (-moz-pref: "wireframe.compact.siderbar.transparent") {
  :root[zen-compact-mode="true"] #navigator-toolbox {
    background: var(--zen-primary-color)  !important;
  }
} */

/* Pref to disable navigation buttons */
@media (-moz-pref("wireframe.navigation.hide")){
  #back-button{
    display: none !important;
  }
  #forward-button{
    display: none !important;
  }
}

/* === AUDIO INDICATOR == */

.tab-audio-button {
  color: var(--zen-primary-color) !important;
}

/* Pref for tab and folder border radius */
@media (-moz-pref("wireframe.tab.border_radius",0)){
  :root{
    --na-tab-border-radius: 0px !important;
  }
}

@media (-moz-pref("wireframe.tab.border_radius",4)){
  :root{
    --na-tab-border-radius: 4px !important;
  }
}

@media (-moz-pref("wireframe.tab.border_radius",8)){
  :root{
    --na-tab-border-radius: 8px !important;
  }
}

@media (-moz-pref("wireframe.tab.border_radius",12)){
  :root{
    --na-tab-border-radius: 12px !important;
  }
}

@media (-moz-pref("wireframe.tab.border_radius",16)){
  :root{
    --na-tab-border-radius: 16px !important;
  }
}

@media (-moz-pref("wireframe.tab.border_radius",20)){
  :root{
    --na-tab-border-radius: 20px !important;
  }
}

@media (-moz-pref("wireframe.tab.border_radius",24)){
  :root{
    --na-tab-border-radius: 24px !important;
  }
}

/* Pref for essentials border radius */

@media (-moz-pref("wireframe.essentials.border_radius",0)){
  :root{
    --na-essen-border-radius: 0px !important;
  }
}

@media (-moz-pref("wireframe.essentials.border_radius",4)){
  :root{
    --na-essen-border-radius: 4px !important;
  }
}

@media (-moz-pref("wireframe.essentials.border_radius",8)){
  :root{
    --na-essen-border-radius: 8px !important;
  }
}

@media (-moz-pref("wireframe.essentials.border_radius",12)){
  :root{
    --na-essen-border-radius: 12px !important;
  }
}

@media (-moz-pref("wireframe.essentials.border_radius",16)){
  :root{
    --na-essen-border-radius: 16px !important;
  }
}

@media (-moz-pref("wireframe.essentials.border_radius",20)){
  :root{
    --na-essen-border-radius: 20px !important;
  }
}

@media (-moz-pref("wireframe.essentials.border_radius",24)){
  :root{
    --na-essen-border-radius: 24px !important;
  }
}

@media (-moz-pref("wireframe.essentials.border_radius",50)){
  :root{
    --na-essen-border-radius: 50% !important;
  }
}
