/* === BOTTOMBAR === */

/* bottombar */
#zen-appcontent-navbar-wrapper{
  margin-right: 10px !important;
  margin-left: 10px !important;
}

#zen-appcontent-navbar-container {
  border: 0px solid var(--na-color-border) !important;
  border-radius: 0px !important;
  border-color: var(--na-color-border) !important;
  margin-left: 0px !important;
  margin-right: 10px !important;
  padding-inline: 10px !important;
  transition: padding-inline 0.3s normal;
  order: 1 !important;
}

/* hide bottombar elements */
/* hide bottombar elements */
@media (-moz-pref("wireframe.toolbar.hide")) {
  #zen-appcontent-navbar-container #identity-box,
  #zen-appcontent-navbar-container #page-action-buttons,
  #zen-appcontent-navbar-container #tracking-protection-icon-container,
  #zen-appcontent-navbar-container .toolbarbutton-1 {
    visibility: collapse !important;
  }

  /* Define the triggers that should reveal elements */
  :root:not(:has(.tabbrowser-tab[selected][busy])):is(
    :has(#customization-content-container:hover),
    :has(toolbarpaletteitem:active),
    :has(.anchor-root[open]),
    :has(.urlbar-page-action[open]),
    :has(#unified-extensions-button[open]),
    :has(#zen-appcontent-navbar-container:hover),
    :has(#zen-appcontent-navbar-container[has-popup-menu]),
    :has(panelmultiview > .panel-viewcontainer[panelopen="true"]) /* <<< FIX */
  ) {
    #zen-appcontent-navbar-container {
      padding-inline: 0px !important;
    }

    #zen-appcontent-navbar-container #identity-box,
    #zen-appcontent-navbar-container #page-action-buttons,
    #zen-appcontent-navbar-container #tracking-protection-icon-container,
    #zen-appcontent-navbar-container .toolbarbutton-1 {
      visibility: visible !important;
    }
  }
}


/* bottombar background transparent for expanded urlbar */
.urlbar-background,
#urlbar-container {
  background-color: var(--na-color-zero) !important;
}

#urlbar[breakout-extend] :root:has(.urlbar-page-action[open]) #urlbar-background,
#urlbar[breakout-extend] .urlbar-background,
#urlbar[breakout-extend] #urlbar-container {
  background-color: var(--zen-primary-color) !important;
  border: 2px solid var(--na-color-border) !important;
}

/* urlbar border radius */
#urlbar-background,
#urlbar {
  border-radius: var(--na-tab-border-radius) !important;
}

/* bottombar left icon padding */
:root[zen-compact-mode="false"] #urlbar-container:not(:has(#urlbar[breakout][breakout-extend])) #identity-icon-box {
  padding-inline: 6px !important;
}

:root[zen-compact-mode="true"] #urlbar-container:not(:has(#urlbar[breakout][breakout-extend])) #identity-icon-box {
  padding-inline: 4px !important;
}

/* bottombar animation on expand and close */
#urlbar[open] {
  animation: slideUpExpand var(--na-anim-duration) ease;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#urlbar:not([open]) {
  animation: slideUpAdressBar var(--na-anim-duration) ease;
  background-color: var(--na-color-zero) !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* splitter for urlbar input */
.urlbarView-body-inner {
  border-top: none !important;
  border-bottom: 1px solid var(--na-color-border) !important;
}

/* urlbar loading text */
#urlbar>.urlbar-input-container>.urlbar-input-box::before {
  content: "Loading" !important;
  padding-inline: 10px !important;
  animation: slideUpAdressBar var(--na-anim-duration) ease;
  animation-play-state: paused;
  transition: opacity 0.6s;
  align-self: center;
  visibility: collapse !important;
  opacity: 0;
}

#urlbar:not([breakout-extend]) .urlbar-input-container>.urlbar-input-box>input {
  opacity: 1 !important;
  transition: opacity 0.6s;
}

#main-window:has(.tabbrowser-tab[selected][busy]) #urlbar:not([breakout-extend]) .urlbar-input-container>.urlbar-input-box>input {
  transition: opacity 3s ease;
  opacity: 0 !important;
}

#main-window:has(.tabbrowser-tab[selected][busy]) #urlbar:not([breakout-extend]) .urlbar-input-container>.urlbar-input-box::before {
  animation-play-state: running;
  visibility: visible !important;
  opacity: 1;
}

/* urlbar loading */
#urlbar {
  color: var(--na-color-text) !important;
}

#urlbar .urlbar-input-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, transparent, var(--na-color-border));
  border-radius: var(--na-tab-border-radius) !important;
  background-size: 200% 100%;
  animation: urlbar-loading 1s linear reverse infinite;
  animation-play-state: paused;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
}

#main-window:has(.tabbrowser-tab[selected][busy]) .urlbar-input-container::before {
  animation-play-state: running;
  opacity: 1;
}

.tabbrowser-tab[busy] #urlbar {
  animation: slideUpAdressBar var(--na-anim-duration) ease;
}

/* expanded urlbar items padding */
#urlbar-container:has(#urlbar[breakout-extend]) #urlbar {
  border: 0px solid var(--na-color-border) !important;
  font-size: 1em !important;
  height: fit-content !important;
  padding-inline: 2px !important;
  padding-block: 2px !important;
  color: var(--zen-primary-text) !important;
}

#urlbar-container:has(#urlbar[breakout-extend]) #urlbar .urlbar-input,
#urlbar-container:has(#urlbar[breakout-extend]) #urlbar .urlbar-input-box {
  margin: 0px !important;
  padding: 0px !important;
}

#urlbar-container:has(#urlbar[breakout-extend]) #urlbar .urlbar-input-container {
  height: fit-content !important;
  margin: 0px !important;
  padding-block: 12px !important;
  padding-inline: 17px !important;
}

#urlbar-container:has(#urlbar[breakout-extend]) #identity-box,
#urlbar-container:has(#urlbar[breakout-extend]) #page-action-buttons,
#urlbar-container:has(#urlbar[breakout-extend]) #tracking-protection-icon-container,
#urlbar-container:has(#urlbar[breakout-extend]) #urlbar-go-button,
#urlbar-container:has(#urlbar[breakout-extend]) #urlbar-anon-search-settings {
 display: none !important;
}

#urlbar-container:has(#urlbar[breakout-extend]) #urlbar-results>.urlbarView-row>.urlbarView-row-inner>.urlbarView-url {
  margin-inline: 0px !important;
}

#urlbar-container:has(#urlbar[breakout-extend]) #urlbar-results {
  font-size: 1em !important;
}

#urlbar-container:has(#urlbar[breakout-extend]) #urlbar-results img {
  display: none !important;
}

#urlbar-container:has(#urlbar[breakout-extend]) .urlbarView-results div {
  margin: 0px !important;
  padding-block: 2px !important;
  padding-inline: 6px !important;
}

@media (-moz-bool-pref: "zen.view.use-single-toolbar") {
  :root[zen-sidebar-expanded="true"] .urlbar-page-action,
  :root[zen-sidebar-expanded="true"] #tracking-protection-icon-container {
    margin-left: 0px !important;
 }
/*   #zen-appcontent-navbar-wrapper{
    display: none !important;
  } */
}

/* URL bar position preference - TOP */
@media (-moz-bool-pref: "wireframe.urlbar.position.top") {
  #zen-appcontent-wrapper {
    flex-direction: column;
  }
}

/* URL bar position preference - BOTTOM (default) */
@media not (-moz-bool-pref: "wireframe.urlbar.position.top") {
  #zen-appcontent-wrapper {
    flex-direction: column-reverse;
  }

  :root[zen-right-side="true"]:not([zen-compact-mode="true"]):not([inDOMFullscreen="true"]) #zen-tabbox-wrapper {
    margin-top: var(--na-window-margin) !important;
    margin-left: var(--na-window-margin) !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }

  :root:not([zen-right-side="true"]):not([zen-compact-mode="true"]):not([inDOMFullscreen="true"]) #zen-tabbox-wrapper {
    margin-top: var(--na-window-margin) !important;
    margin-left: 0 !important;
    margin-right: var(--na-window-margin) !important;
    margin-bottom: 0 !important;
  }
}

.tab-stack {
  box-shadow: none !important;
  box-sizing: none !important;
  padding: 0px !important;
  margin: 0px !important;
  border: 0px !important;
}

/* urlbar action button */
.urlbar-page-action,
#tracking-protection-icon-container {
  margin-left: 10px !important;
}

#page-action-buttons {
  margin-right: 3.5px !important;
}

/* urlbar search result type icon (site that you bookmark will have star on the right side) */
.urlbarView-row>.urlbarView-row-inner .urlbarView-type-icon {
  margin: 0px !important;
  position: absolute !important;
  right: 15px !important;
}

/* urlbar search result */
.urlbarView-body-inner {
  display: none !important;
}

.urlbarView-body-inner:has(.urlbarView-row[selected]) {
  display: list-item !important;
}

.urlbarView-body-inner:has(.urlbarView-row[selected]) .urlbarView-url {
  color: var(--na-color-text-second) !important;
}

.urlbarView-body-inner:has(.urlbarView-row) .urlbarView-title{
  color: var(--zen-primary-text) 100% invert !important;
}

/* .urlbarView-body-inner:has(.urlbarView-row[selected]) .urlbarView-row[selected] {
  border-radius: var(--na-border-radius) !important;
  background-color: var(--na-color-text) !important;
} */

.urlbarView-body-inner:has(.urlbarView-row[selected]) .urlbarView-row:hover {
  border-radius: var(--na-border-radius) !important;
  background-color: var(--na-color-text-second) !important;
}

/* .urlbarView-body-inner:has(.urlbarView-row[selected]) .urlbarView-row[selected] .urlbarView-title {
  animation: slideUpAdressBar var(--na-anim-duration) ease;
  color: var(--na-color-bg) !important;
} */

.urlbarView-body-inner:has(.urlbarView-row[selected]) .urlbarView-row[selected] .urlbarView-url {
  color: var(--na-color-bg-second) !important;
}

.urlbarView-body-inner:has(.urlbarView-row[selected]) .urlbarView-row:hover .urlbarView-title {
  animation: slideUpAdressBar var(--na-anim-duration) ease;
  color: var(--na-color-bg) !important;
}

.urlbarView-body-inner:has(.urlbarView-row[selected]) .urlbarView-row:hover .urlbarView-url {
  color: var(--na-color-bg) !important;
}

.urlbarView-body-inner:has(.urlbarView-row[selected]) .urlbarView-row[selected] .urlbarView-action {
  border-radius: var(--na-border-radius-small) !important;
  background-color: var(--na-color-bg-second) !important;
  color: var(--na-color-text) !important;
  padding-inline: 6px !important;
}

.urlbarView-body-inner:has(.urlbarView-row[selected]) .urlbarView-row:hover .urlbarView-action {
  border-radius: var(--na-border-radius-small) !important;
  background-color: var(--na-color-text-second) !important;
  color: var(--na-color-bg) !important;
  padding-inline: 6px !important;
}

.urlbarView-body-inner:has(.urlbarView-row[selected]) .urlbarView-row .urlbarView-action {
  border-radius: var(--na-border-radius-small) !important;
  background-color: var(--na-color-text-second) !important;
  color: var(--na-color-text) !important;
  padding-inline: 6px !important;
}

/* urlbar search engine and bookmark search mode */
.search-one-offs {
  border: none !important;
  display: none !important;
}

.search-one-offs .search-panel-one-offs-container {
  padding: 8px !important;
}

.search-one-offs:has(.searchbar-engine-one-off-item[selected]) {
  border-bottom: 1px solid var(--na-color-text) !important;
  padding-inline: 5px !important;
  padding-block: 12px !important;
  display: list-item !important;
}

.search-one-offs:has(.searchbar-engine-one-off-item[selected]) .search-panel-one-offs-header {
  display: none !important;
  visibility: collapse !important;
}

.search-one-offs:has(.searchbar-engine-one-off-item[selected]) .searchbar-engine-one-off-item[selected] {
  background-color: var(--na-color-text-second) !important;
  border-radius: var(--na-border-radius-small) !important;
}

.search-one-offs:has(.searchbar-engine-one-off-item[selected]) .searchbar-engine-one-off-item:hover {
  background-color: var(--na-color-text-second) !important;
  border-radius: var(--na-border-radius-small) !important;
}

.search-one-offs:has(.searchbar-engine-one-off-item[selected]) .searchbar-engine-one-off-item[selected] hbox {
  animation: slideUpAdressBar var(--na-anim-duration) ease;
}

.search-one-offs:has(.searchbar-engine-one-off-item[selected]) .searchbar-engine-one-off-item:hover hbox {
  animation: slideUpAdressBar var(--na-anim-duration) ease;
}

/* urlbar search engine and bookmark search mode indicator */
#urlbar-search-mode-indicator,
#urlbar-label-box {
  align-self: center !important;
  height: fit-content !important;
  padding-block: 4px !important;
  padding-left: 6px !important;
  padding-right: 2px !important;
  color: var(--zen-primary-text) !important;
  background-color: var(--na-color-text) !important;
}