/* NORMAL URLBAR */

/* ====== NORMAL URLBAR BEHAVIOUR ======*/

#navigator-toolbox:has(#urlbar[zen-floating-urlbar="false"]){
  
  .urlbar-background{
    border-radius: var(--na-window-border-radius) !important;
  }
  /* single-toolbar */
  /* style - full, normal */
  @media (-moz-pref("wireframe.urlbar.style","full")){
    @media not (-moz-bool-pref:"wireframe.urlbar.position.top"){
      #urlbar[open]{
        left: 23.25% !important;
        top: auto !important;
        bottom: 1.5% !important;
        display: flex !important;
        flex-direction: column !important;
      }
      
      #urlbar > .urlbar-input-container {
        order: 1 !important;
      }
    }
  }
  
  /* style - slim, normal */
  @media (-moz-pref("wireframe.urlbar.style","slim")){
    @media not (-moz-bool-pref:"wireframe.urlbar.position.top"){
      #urlbar[open]{
        left: 23.25% !important;
        top: auto !important;
        bottom: 1.5% !important;
        display: flex !important;
        flex-direction: column !important;
      }
      
      #urlbar > .urlbar-input-container {
        order: 1 !important;
      }
      
        /* navbar padding */
      .urlbar-input-container {
          padding-inline: 2px !important;
      }

      /* expanded urlbar items padding */
      #urlbar-container:has(#urlbar[breakout-extend]) #urlbar {
        font-size: 1em !important;
        height: fit-content !important;
        padding-inline: 2px !important;
        padding-block: 2px !important;
      }

      #urlbar-container:has(#urlbar[breakout-extend]) #urlbar .urlbar-input,
      #urlbar-container:has(#urlbar[breakout-extend]) #urlbar .urlbar-input-box {
        margin: 0px !important;
        padding: 0px !important;
      }

      #urlbar-container:has(#urlbar[breakout-extend]) #urlbar .urlbar-input-container {
        height: fit-content !important;
        margin: 0px !important;
        padding-block: 12px !important;
        padding-inline: 17px !important;
      }

      #urlbar-container:has(#urlbar[breakout-extend]) #identity-box,
      #urlbar-container:has(#urlbar[breakout-extend]) #page-action-buttons,
      #urlbar-container:has(#urlbar[breakout-extend]) #tracking-protection-icon-container,
      #urlbar-container:has(#urlbar[breakout-extend]) #urlbar-go-button,
      #urlbar-container:has(#urlbar[breakout-extend]) #urlbar-anon-search-settings {
       display: none !important;
      }

      #urlbar-container:has(#urlbar[breakout-extend]) #urlbar-results>.urlbarView-row>.urlbarView-row-inner>.urlbarView-url {
        margin-inline: 0px !important;
      }

      #urlbar-container:has(#urlbar[breakout-extend]) #urlbar-results {
        font-size: 1em !important;
      }

      #urlbar-container:has(#urlbar[breakout-extend]) #urlbar-results img {
        display: none !important;
      }

      #urlbar-container:has(#urlbar[breakout-extend]) .urlbarView-results div {
        margin: 0px !important;
        padding-block: 2px !important;
        padding-inline: 6px !important;
        border-radius: var(--na-tab-border-radius) !important;
      }

    /* Hide urlbar results */
      /* urlbar search result type icon (site that you bookmark will have star on the right side) */
      .urlbarView-row>.urlbarView-row-inner .urlbarView-type-icon {
        margin: 0px !important;
        position: absolute !important;
        right: 15px !important;
      }

      /* urlbar search result */
      .urlbarView-body-inner {
        display: none !important;
      }

      .urlbarView-body-inner:has(.urlbarView-row[selected]) {
        display: list-item !important;
      }
      /* .urlbarView-body-inner:has(.urlbarView-row[selected]) .urlbarView-row[selected] {
        border-radius: var(--na-border-radius) !important;
        background-color: var(--na-color-text) !important;
      } */

      .urlbarView-body-inner:has(.urlbarView-row[selected]) .urlbarView-row:hover {
        border-radius: var(--na-tab-border-radius) !important;
      }

      /* .urlbarView-body-inner:has(.urlbarView-row[selected]) .urlbarView-row[selected] .urlbarView-title {
        animation: slideUpAdressBar var(--na-anim-duration) ease;
        color: var(--na-color-bg) !important;
      } */


      .urlbarView-body-inner:has(.urlbarView-row[selected]) .urlbarView-row:hover .urlbarView-title {
        animation: slideUpAdressBar var(--na-anim-duration) ease;
      }

      .urlbarView-body-inner:has(.urlbarView-row[selected]) .urlbarView-row[selected] .urlbarView-action {
        border-radius: var(--na-border-radius-small) !important;
        padding-inline: 6px !important;
      }

      .urlbarView-body-inner:has(.urlbarView-row[selected]) .urlbarView-row:hover .urlbarView-action {
        border-radius: var(--na-border-radius-small) !important;
        padding-inline: 6px !important;
      }

      .urlbarView-body-inner:has(.urlbarView-row[selected]) .urlbarView-row .urlbarView-action {
        border-radius: var(--na-border-radius-small) !important;
        padding-inline: 6px !important;
      }

      /* urlbar search engine and bookmark search mode */
      .search-one-offs {
        border: none !important;
        display: none !important;
      }

      .search-one-offs .search-panel-one-offs-container {
        padding: 8px !important;
      }

      .search-one-offs:has(.searchbar-engine-one-off-item[selected]) {
        border-bottom: 1px solid var(--na-color-text) !important;
        padding-inline: 5px !important;
        padding-block: 12px !important;
        display: list-item !important;
      }

      .search-one-offs:has(.searchbar-engine-one-off-item[selected]) .search-panel-one-offs-header {
        display: none !important;
        visibility: collapse !important;
      }

      .search-one-offs:has(.searchbar-engine-one-off-item[selected]) .searchbar-engine-one-off-item[selected] {
        border-radius: var(--na-border-radius-small) !important;
      }

      .search-one-offs:has(.searchbar-engine-one-off-item[selected]) .searchbar-engine-one-off-item:hover {
        border-radius: var(--na-border-radius-small) !important;
      }

      .search-one-offs:has(.searchbar-engine-one-off-item[selected]) .searchbar-engine-one-off-item[selected] hbox {
        animation: slideUpAdressBar var(--na-anim-duration) ease;
      }

      .search-one-offs:has(.searchbar-engine-one-off-item[selected]) .searchbar-engine-one-off-item:hover hbox {
        animation: slideUpAdressBar var(--na-anim-duration) ease;
      }

      /* urlbar search engine and bookmark search mode indicator */
      #urlbar-search-mode-indicator,
      #urlbar-label-box {
        align-self: center !important;
        height: fit-content !important;
        padding-block: 4px !important;
        padding-left: 6px !important;
        padding-right: 2px !important;
      }
    }
  }
}

/* opening animation for the floating URL bar */
@keyframes slideFromBottom {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(80px) scale(0.96);
    }
    60% {
        opacity: 1;
        transform: translateX(-50%) translateY(-4px) scale(1.02);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0) scale(1);
        filter: none;
    }
}

@keyframes slideFromBottomfloat {
    0% {
        opacity: 0;
        transform: translateX(0%) translateY(80px) scale(0.96);
    }
    60% {
        opacity: 1;
        transform: translateX(0%) translateY(-4px) scale(1.02);
    }
    100% {
        opacity: 1;
        transform: translateX(0%) translateY(0) scale(1);
        filter: none;
    }
}
  
@keyframes slideFromBottommulti {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(80px) scale(0.96);
    }
    60% {
        opacity: 1;
        transform: translateX(-50%) translateY(-4px) scale(1.02);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0) scale(1);
        filter: none;
    }
}
  
@keyframes urlbar-snappy {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(100%) scale(0.95);
    }
    60% {
        opacity: 1;
        transform: translateX(-50%) translateY(-5%) scale(1.01);
    }
    80% {
        transform: translateX(-50%) translateY(2%) scale(0.99);
    }
    100% {
        transform: translateX(-50%) translateY(0%) scale(1);
    }
}